* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f41f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

header {
  background: #150557;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

main {
  margin: 20px auto;
  max-width: 800px;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background: #8cbaee;
}
